:root{
  --red: #D81F26;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rba(0, 0, 0, 0.5);

}

html {
  scroll-behavior: smooth;
}

body{
  font-family: "Courier Prime", monospace;
  font-size: 1.2rem;
  min-height: 8000px;
}

/* cover */
.cover::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-image: url(img/bg11.png);
  background-position: center;
  background-size: cover; 
}

.cover{
  position: relative;
  min-height: 100vh;
  /* background-color: var(--bg); */
}

.cover h1{
  font-family: "Bebas Neue", sans-serif;
  font-size: 8rem;
}

.cover p{
  
}

.arrow i {
  text-decoration: none;
  color: #e9e9e9;
}

.arrow i:hover {
  color: var(--red);
  transition: 0.3s ease-in-out;
}


/* navbar */

.mynavbar, .mynavbottom{
  background-color: rgba(0, 0, 0, 0.3) !important;
  backdrop-filter: blur(3px);
}

.mynavbar .offcanvas{
  height: 100vh;
}
.mynavbar .navbar-brand, .mynavbar .offcanvas-title{
  font-family: "Bebas Neue", sans-serif; 
  color: var(--red);
  font-size: 2.5rem;
}

.mynavbar .nav-link{
  text-transform: uppercase;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

/* home */
.home{
  background-image: url(img/bg11.png);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  margin-top: -5.5rem;
  padding-top: 8rem;
  padding-bottom: 5rem;
}

.home h2, h3, p {
  color: white;
}

.home h2, .info h2, .story h2, .galery h2{
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: var(--red);
}

.home h3{
  font-size: 1.3rem;
  color: #c7c7c7;
  margin-bottom: 0.6rem;
}

.home p{
  font-size: 1.1rem;
  color: #c2c2c2;
}

.home .pengantin{
  margin-top: 40px;
  /* display: block; */
  /* padding-top: -60px; */
}

.home .pengantin h3{
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.4rem;

}

.home .pengantin img{
  width: 100%;
}

/* info */
.info{
  background-image: url(img/bg11.png);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding-top: 8rem;
  padding-bottom: 5rem;
}

.info .card{
  background-color: rgba(106, 106, 106, 0.1) !important;
  color: white;
  border: 1px solid #dadada;
}

.info .card-header{
  text-transform: uppercase;
  border-bottom: 1px solid #dadada;
}

/* story */
.story{
  background-image: url(img/story3.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.story p .galery p{
 font-size: 1rem;

}

.timeline{
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}

.timeline::before{
  content: '';
  top: 0;
  bottom: 0;
  position: absolute;
  width: 2px;
  background-color: rgb(136, 136, 136);
  left: 50%;
}

.timeline li{
  margin-bottom: 5rem;
  position: relative;
}

.timeline li::before{}
.timeline li::after{
  content: "";
  display: table;
}

.timeline li::after{
  clear: both;
}

.timeline li .timeline-image{
  width: 180px;
  height: 144px;
  position: absolute;
  background-color: white;
  left: 50%;
  border-radius: 10px;
  transform: translateX(-50%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.timeline li .timeline-panel{
  width: 43.1%;
  max-height: 200px;
  top: 5px;
  float: left;
  border: 1px solid rgb(136, 136, 136);
  border-right: none;
  position: relative;
  border-radius: 5px 0 0 5px;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.timeline li.timeline-genap .timeline-panel{
  float: right;
  border-radius: 0 5px 5px 0;
  border-left: none;
  border-right: 1px solid rgb(136, 136, 136);
  max-height: 200px;
}

.timeline li h4{
  color: var(--red);
  font-size: 1.1rem;
  font-weight: bold;
}
.panel-p{
  font-size: 0.8rem !important;
  letter-spacing: 1px;
  color: #c2c2c2;
}

/* Galery */
.galery{
  background-image: url(img/bg11.png);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding-top: 8rem;
  padding-bottom: 8rem;
}



/* Responsif Media Query */

@media (max-width: 1400px){
  .timeline li .timeline-panel{
    width: 42%;
    padding-bottom: 0rem !important;
    top: 4px;
  }

  .timeline li.timeline-genap .timeline-panel{
    width: 42%;
  }

  .panel-p{
    font-size: 0.8rem !important;
  }
}

@media (max-width: 1300px){
  .timeline li .timeline-panel{
    width: 42%;
  }

  .timeline li h4{
    font-size: 0.9rem;
  }

  .timeline li.timeline-genap .timeline-panel{
    width: 42%;
  }

  .panel-p {
    font-size: 0.8rem !important;
  }
}

@media (max-width: 1200px){
  .timeline li .timeline-panel{
    width: 40.2%;
    top: 10px;
  }

  .timeline li h4{
    font-size: 0.9rem;
  }

  .timeline li.timeline-genap .timeline-panel{
    width: 40.2%;
  }

  .panel-p {
    font-size: 0.7rem !important;
  }
}

/* Laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .simply-countdown-dark>.simply-section{
    width:70px !important; 
    height:70px !important;
    padding:2rem !important
  }

  .simply-countdown-dark>.simply-section .simply-amount{
    font-size:2.4rem !important
  }
  .simply-countdown-dark>.simply-section .simply-word{
    font-size: 1rem !important
  }

  .timeline li{
    margin-bottom: 8rem;
  }

  .timeline li .timeline-image{
    left: 20% !important;
    width: 240px;
    height: 160px;
  }

  .timeline li.timeline-genap .timeline-image{
    left: 80% !important;
  }

  .timeline li .timeline-panel{
    width: 32% !important;
    max-height: 300px !important;
    top: 160px !important;
    left: 4% !important;
    border: 1px solid rgb(136, 136, 136);
    border-top: none;
    border-radius: 0 0 5px 5px;
    padding-top: 1.5rem !important
  }

  .timeline li.timeline-genap .timeline-panel{
    width: 32% !important;
    max-height: 300px !important;
    top: 160px !important;
    left: -4% !important;
    border: 1px solid rgb(136, 136, 136);
    border-top: none;
    border-radius: 0 0 5px 5px;
    padding-top: 1.5rem !important
  }

}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 60%;
  }

  .simply-countdown-dark>.simply-section{
    width:55px !important; 
    height:55px !important;
    padding:1.8rem !important
  }

  .simply-countdown-dark>.simply-section .simply-amount{
    font-size:2.4rem !important
  }
  .simply-countdown-dark>.simply-section .simply-word{
    font-size: 1rem !important
  }

  .mynavbar .nav-link{
    font-size: 2rem;
    text-align: center;
  }

  .sticky-top{
    overflow: hidden;
  }

  .timeline li{
    margin-bottom: 8rem;
  }

  .timeline li .timeline-image{
    left: 20% !important;
    width: 180px;
    height: 120px;
  }

  .timeline li.timeline-genap .timeline-image{
    left: 80% !important;
  }

  .timeline li .timeline-panel{
    width: 32% !important;
    max-height: 200px !important;
    top: 120px !important;
    left: 4% !important;
    border: 1px solid rgb(136, 136, 136);
    border-top: none;
    border-radius: 0 0 5px 5px;
    padding-top: 2rem;
  }

  .timeline li.timeline-genap .timeline-panel{
    width: 32% !important;
    max-height: 200px !important;
    top: 120px !important;
    left: -4% !important;
    border: 1px solid rgb(136, 136, 136);
    border-top: none;
    border-radius: 0 0 5px 5px;
    padding-top: 2rem !important;
  }
}

/* Mobile */
@media (max-width: 576px) {
  html {
    font-size: 50%;
  }

  .simply-countdown-dark>.simply-section{
    width:50px !important; 
    height:50px !important;
    padding:1.5rem !important
  }

  .simply-countdown-dark>.simply-section .simply-amount{
    font-size:2.4rem !important
  }
  .simply-countdown-dark>.simply-section .simply-word{
    font-size: 1rem !important
  }

  .timeline li{
    margin-bottom: 8rem;
  }

  .timeline li .timeline-image{
    left: 25% !important;
    width: 140px;
    height: 101px;
  }

  .timeline li.timeline-genap .timeline-image{
    left: 75% !important;
  }

  .timeline li .timeline-panel{
    width: 32% !important;
    max-height: 400px !important;
    top: 100px !important;
    left: 8.8% !important;
    border: 1px solid rgb(136, 136, 136);
    border-top: none;
    border-radius: 0 0 5px 5px;
    padding-top: 2rem;
  }

  .timeline li.timeline-genap .timeline-panel{
    width: 32% !important;
    max-height: 400px !important;
    top: 100px !important;
    left: -9.2% !important;
    border: 1px solid rgb(136, 136, 136);
    border-top: none;
    border-radius: 0 0 5px 5px;
    padding-top: 2rem !important;
  }

  .timeline li h4{
    font-size: 1.4rem;
  }

  .panel-p {
    font-size: 1.2rem !important;
    letter-spacing: 0.5px;
  }
}