:root{
  --red: #dc3545;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rba(0, 0, 0, 0.5);
  --putih: #d4d4d4;
}

body {
    background-image: url(asset/bg11.png);
    font-family: 'Courier New', Courier, monospace;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  
  .dashboard-title {
    font-family: "Bebas Neue", sans-serif;
    color: var(--red);
    font-size: 4rem;
    letter-spacing: 4px;
    margin-bottom: 40px;
  }
  
  .nav-links a {
    color: #ccc;
    text-decoration: none;
    margin-right: 1rem;
  }
  
  .nav-links a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .table th, .table td {
    vertical-align: middle;
    background-color: rgba(255,255,255,0.05);
    color: #ccc;
  }
  
  .table {
    border: 2px solid #ccc;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .username {
    text-align: right;
    font-size: 1.1rem;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1.5px;
  }
  
  .table-responsive {
    overflow-x: auto;
  }

  .form-box {
    border: 2px solid #ccc;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ccc;
    padding: 10px;
  }
  
  .label-text {
    font-family: 'Courier Prime', monospace;

  }
  
  .input-field {
    background-color: #ccc;
    border: none;
    font-family: 'Courier Prime', monospace;
    width: 80%;
  }

  .input-field:focus {
    background-color: #ccc;
  }
  
  .btn-danger {
    background-color:var(--red);
    border: none;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 3px;
    color: #0a0a0a;
  }
  
  .btn-danger:hover {
    background-color: darkred;
  }

  #imagePreview {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid whitesmoke !important;
  }

  .img-thumbnail {
    background-color: transparent !important;
  }

  .form-box h4{
    font-family: "Bebas Neue", sans-serif;
    margin-top: 10px;
    color: var(--red);
    letter-spacing: 2px;
  }
  